*{
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  
}

#root {
  margin: 0 auto;
}

.div-header {
  background: #f64f4f;
  color: #FFFFFF;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 2.5rem;
  font-weight: 900;
}

.background-image {
  width: 100%;
  height: 485px;
  background-image: url(../assets/Ashpazi.jpg);
  background-size: cover;
  text-align: center;
}

button, input {
  font-size: 2rem;
  padding: 0.7rem;
  border: none;
}

.search-btn {
  width: 10%;
  background: #f64f4f;
  color: #f1ecec;
  cursor: pointer;
}

input {
  width: 90%;
  background: #f1ecec;
  color: #6f6f6f;
}

.search-result {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 2em;
}
main {
  background: #eee;
  border-radius:8px ;
}
.image {
  width: 100%;
  max-width: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  aspect-ratio: 12/10;
}
.image:hover {
  cursor: pointer;
  box-shadow: 0px 2px 25px 4px rgba(10,1,1,0.88);;
  -webkit-box-shadow: 0px 2px 25px 4px rgba(10,1,1,0.88);
  -moz-box-shadow: 0px 2px 25px 4px rgba(10,1,1,0.88);
}
.meal-name {
  font-size: 1rem;
  max-width: 200px;
  font-weight: 500;
  color: #6f6f6f;
  padding: 0.3em 0.5em;
}

.location {
  padding-left: 0.5em;
  padding-bottom: 1.3em;
  
}
.meal-area {
  color: #878787;
  font-size: 0.875rem;
  padding: 0.1em;
  margin-top: 0.5rem;
}
.icon, .close-btn{
  color: #f64f4f;
}
.close-btn {
  position: absolute;
  left: 90%;
  background: #FFFFFF;
}
.close-btn:hover {
  cursor: pointer;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em ;
  gap: 2em;
  
}

.meal-description {
  margin-top: 0;
  text-align: start;
  display: flex;
  gap: 1em;
}
.desc-title{
  color: #6f6f6f;
  font-size: 1.8rem;
  font-weight: 700;
}
.desc-image {
  width: 90%;
  border-radius: 10px;
  aspect-ratio: 16/9;
}
.meal-desc {
  color: #878787;
  font-size: 1rem;
  padding: 0.2em;
}
.link {
  font-size: 0.875rem;
  text-decoration: none;
}
a:hover{
  color: #6f6f6f;
}
.youtube {
  margin-right: 0.3em;
  font-size: 1rem;
}

.instraction, .ingredient {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  margin: 0 auto;
}
.instraction-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #6f6f6f;
  margin-bottom: .7em;
}

.instraction-text {
  color: #878787;
  align-self: center;
  font-size: 0.75rem;
  line-height: 1rem;
  text-shadow: 0 0 0 5px #000;
}
.ing-ingredient {
  color: #474747;
  font-size: 0.875rem;
}
.ing-measure {
  color: #878787;
  margin-left: 1em;
  font-size: 0.75rem;
}

li::marker {
  color: #f64f4f;
}

footer{
  background: #878787;
  padding: 1em;
}
.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.footer-list {
  list-style: none;
  text-decoration: none;
  font-size: 2.5rem;
}
.footer-icon > .footer-list > a {
  color: #6f6f6f;
}
@media(min-width:768px){
  .desc-image {
    width: 60%;
    height: 10%;
  }
  .meal-desc, .desc-icon {
    font-size: 1.5rem;
  }
  .desc-title {
    font-size: 2.3rem;
  }
  .instraction, .ingredient{
    width: 800px;
    margin: 0 auto;
  }
  .footer-list {
    font-size: 3.5rem;
    padding: 0 2rem;
  }
}